:root {
	--main-color: #007acc;
	--main-lighter: #0098ff;
	--background: #ffffff;
	--gray: #f4f4f4;
	--line: #dcdcdc;
	--darker-background: #f1f2f3;
	--lighter-background: #fcfcfc;
}

body {
	margin: 0;
	margin-top: 52.97px;
	margin-left: 40px;
	background-color: var(--background);
}

nav {
	background-color: var(--main-lighter);
	color: white;
	padding: 16px 24px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 5px black;
}

/* 工具栏 */
.tools-bar {
	border-right: 1px solid var(--line);
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50px;
	height: 700px;
	width: 40px;
}

/* 工具栏图标 */
.tools-bar-icon {
	height: 25px;
	width: 25px;
	float: left;
	position: relative;
	left: 10px;
	top: 2px;
	margin-top: 10px;
	margin-left: -5px;
	background-color: var(--main-lighter);
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
}

/* 主要展示区域容器 */
.container {
	overflow: hidden;
}

/* 容器左侧，工具部分 */
.left {
	float: left;
	height: 700px;
	position: relative;
}

/* 列拖动区域 */
.col-resize-bar {
	width: 350px;
	min-width: 311px;
	max-width: 376px;
	height: inherit;
	resize: horizontal;
	overflow: scroll;
	opacity: 0;
}
.col-resize-bar::-webkit-scrollbar {
	width: 350px;
	height: inherit;
}

/* 列拖动分隔线 */
.col-resize-line {
	position: absolute;
	right: 0; top: 0; bottom: 0;
	width: 5px;
	border: 1px solid var(--line);
	background-color: var(--gray);
	background-image: url('./images/vertical_handle.png'), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}

/* 列左侧内容容器 */
.col-resize-content {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 7px;
	bottom: 0;
	left: 0;
}

/* 左侧上方容器 */
.upper {
	position: relative;
	/* width: 100vw; */
}

/* 行拖动区域 */
.row-resize-bar {
	height: 450px;
	width: inherit;
	resize: vertical;
	overflow: scroll;
	opacity: 0;
}
.row-resize-bar::-webkit-scrollbar {
	height: 450px;
	width: 100vw;
}

/* 行拖动分隔线 */
.row-resize-line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5px;
	background-color: var(--gray);
	background-image: url('./images/handle.png'), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-repeat: no-repeat;
	background-position: center;
	border-top: 1px solid var(--line);
	border-bottom: 1px solid var(--line);
	pointer-events: none;
	margin-left: 0;
}

/* 行上部内容容器 */
.row-resize-content {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 5px;
	right: 0;
	left: 0;
	background-color: var(--background);
	margin-bottom: 2px;
}

/* 下部内容容器 */
.lower {
	margin-top: 5px;
	background-color: var(--background);
	overflow: hidden;
	height: -webkit-fill-available;
}

/* 右侧内容容器 */
.right {
	background-color: var(--background);
	overflow: hidden;
	height: 700px;
}

/* 全局输入框 */
.textarea {
	width: 58px;
	box-shadow: 0 0 3px gray;
	border-width: 1px;
	border-radius: 4px;
}
.textarea:focus-visible {
	outline: none;
	box-shadow: 0 0 3px 1px var(--main-color);
}

/* 工具标题 */
.title {
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0;
	margin-left: 39px;
	padding-top: 0px;
	width: fit-content;
	font-weight: bold;
}

hr {
	margin-left: -11px;
	margin-right: -11px;
}

/* 工具内一级小标题 */
.form-item {
	font-weight: bold;
	margin-bottom: 5px;
}

/* 工具模块图标 */
.tools-icon{
	height: 25px;
	width: 25px;
	float: left;
	position: relative;
	left: 10px;
	top: 2px;
}

select {
	box-shadow: 0 0 3px gray;
	border-radius: 4px;
}

/* 错误信息 */
.error-msg {
	color: red;
	font-size: x-small;
}

/* 确认框的文本 */
.checktext {
	font-size: small;
	opacity: 0.7;
}

/* 确认框 */
.checkbox {
	width: 10px;
	height: 10px;
}

/* 工具框内二级小标题 */
.child-item {
	font-size: 13px;
}

/* 图层名 */
.cover-name {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
	padding-top: 5px;
}

/* 图层id */
.cover-id {
	margin: 0;
	padding-left: 10px;
	font-size: 10px;
	padding-bottom: 5px;
}

/* 单个图层容器 */
.image-cover, .vector-cover {
	background-color: var(--darker-background);
	border-left: 3px solid var(--main-color);
	margin-bottom: 1px;
}
.cover:hover {
	background-color: var(--lighter-background);
}

/* 图层容器 */
#image-covers {
	margin-top: -9px;
	margin-bottom: -9px;
}

/* 矢量图层容器 */
#vector-covers {
	margin-top: -9px;
}

/* 正在拖动的图层 */
.cover-hold {
	color: var(--main-color);
}

/* 像素加载工具的加载按钮 */
.submit-button {
	background-color: var(--background);
	color: var(--main-color);
	border: 2px solid var(--main-color);
	padding: 5px 125px;
	border-radius: 5px;
	transition-duration: 0.4s;
	cursor: pointer;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.submit-button:hover {
	background-color: var(--main-color);
	color: var(--background);
	border: 2px solid var(--main-color);
	padding: 5px 35px;
}

/* 右键菜单 */
#menu {
	overflow: hidden;
	position: fixed;
	background-color: white;
	box-shadow: 0 0 5px gray;
	border-radius: 4px;
	width: 230px;
	padding: 5px;
	display: none;
}

/* 右键删除按钮 */
#delete {
    background-image: url("./images/删除.png");
    background-position: left;
    background-size: 27px;
    background-repeat: no-repeat;
}
#delete:hover {
	background-color: var(--gray);
	border-radius: 4px;
	cursor: default;
}

/* 右键透明度按钮 */
#alpha {
    background-image: url("./images/透明度.png");
    background-position: left;
    background-size: 27px;
    background-repeat: no-repeat;
}

/* 右键更多按钮 */
#more {
	background-image: url("./images/pop-up.png");
	background-position: left;
	background-size: 18px;
	background-position-x: 4px;
	background-repeat: no-repeat;
}
#more:hover {
	background-color: var(--gray);
	border-radius: 4px;
	cursor: default;
}

/* openlayers使用的容器，已弃用 */
/* #map {
	width: inherit;
	height: inherit;
} 

canvas {
	width: inherit;
} */

/* Cesium容器 */
#cesium-container {
	height: -webkit-fill-available;
}

/* 影像地图和地形图的搜索框 */
.search-box-image, .search-box-terrain {
	padding: 5px;
	width: -webkit-fill-available;
	margin-top: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
}

/* 影像地图和地形图的搜索结果 */
.search-result-image, .search-result-terrain {
	border: 1px solid;
	overflow: scroll;
	height: 100px;
}

.search-result {
	border: var(--line) 1px solid;
	padding: 2px;
}

/* 右键菜单所有项目 */
.menu-item {
    padding: 5px 5px 5px 33px;
}

/* 栅格图像加载工具容器 */
#load-grid-tool {
	padding: 10px;
}

/* 矢量图像加载工具容器 */
#load-vector-tool {
	padding: 10px;
}

/* 遮罩 */
#mask {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
}

/* 弹出窗口 */
#pop-up {
	padding: 30px;
	border-radius: 15px;
	position: fixed;
	left: calc(50% - 96px);
	top: calc(50% - 61px);
	background-color: white;
	box-shadow: 0 0 5px gray;
}

/* 弹窗内标签 */
.pop-up-item {
	text-align: center;
}


/* 弹窗内标签文本 */
.pop-up-label {
	margin: 5px;
	text-align: center;
}

/* 颜色选择框 */
#vector-color {
	height: 20px;
	padding: 0;
	width: 64px;
}

/* 弹框标题 */
.pop-up-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#vector-signify:hover {
	padding: 5px 125px;
}