:root {
	--main-color: #007acc;
	--main-lighter: #0098ff;
	--main-thinner: #F5F7F9;
	--gray: #eeeeee;
}

body {
	margin: 0;
	margin-top: 52.97px;
	background-color: var(--gray);
}

nav {
	background-color: var(--main-lighter);
	color: white;
	padding: 16px 24px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 5px black;
}

.container {
	overflow: hidden;
}

.left {
	float: left;
	height: 700px;
	position: relative;
	margin-right: 4px;
}

.col-resize-bar {
	width: 200px;
	height: inherit;
	resize: horizontal;
	overflow: scroll;
	opacity: 0;
}

.col-resize-bar::-webkit-scrollbar {
	width: 200px;
	height: inherit;
}

.col-resize-line {
	position: absolute;
	right: 0; top: 0; bottom: 0;
	border-right: 2px solid var(--main-color);
	pointer-events: none;
}

.col-resize-content {
	overflow: hidden;
	position: absolute;
	top: 0; right: 5px; bottom: 0; left: 0;
}

form {
	background-color: var(--main-thinner);
	padding: 10px;
	margin-bottom: 10px;
}

.coverage {
	padding: 10px;
	background-color: var(--main-thinner);
	padding-bottom: 400px;
}

.right {
	background-color: var(--main-thinner);
	padding-top: 50px;
	padding-left: 50px;
	overflow: hidden;
	height: 700px;
}