:root {
	--main-color: #007acc;
	--main-lighter: #0098ff;
	--background: #ffffff;
	--gray: #f4f4f4;
	--line: #dcdcdc;
	--darker-background: #f1f2f3;
	--lighter-background: #fcfcfc;
}

body {
	margin: 0;
	margin-top: 52.97px;
	margin-left: 40px;
	background-color: var(--background);
}

nav {
	background-color: var(--main-lighter);
	color: white;
	padding: 16px 24px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 5px black;
}

.tools-bar {
	border-right: 1px solid var(--line);
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50px;
	height: 700px;
	width: 40px;
}

.tool {
	margin-top: 10px;
	margin-left: -5px;
	background-color: var(--main-lighter);
	border-radius: 50%;
	padding: 3px;
}

.container {
	overflow: hidden;
}

.left {
	float: left;
	height: 700px;
	position: relative;
}

.col-resize-bar {
	width: 350px;
	min-width: 311px;
	max-width: 376px;
	height: inherit;
	resize: horizontal;
	overflow: scroll;
	opacity: 0;
}

.col-resize-bar::-webkit-scrollbar {
	width: 350px;
	height: inherit;
}

.col-resize-line {
	position: absolute;
	right: 0; top: 0; bottom: 0;
	width: 5px;
	border: 1px solid var(--line);
	background-color: var(--gray);
	background-image: url('./images/vertical_handle.png'), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}

.col-resize-content {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 7px;
	bottom: 0;
	left: 0;
}

.upper {
	position: relative;
	/* width: 100vw; */
}

.row-resize-bar {
	height: 375px;
	width: inherit;
	resize: vertical;
	overflow: scroll;
	opacity: 0;
}

.row-resize-bar::-webkit-scrollbar {
	height: 375px;
	width: 100vw;
}

.row-resize-line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5px;
	background-color: var(--gray);
	background-image: url('./images/handle.png'), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-repeat: no-repeat;
	background-position: center;
	border-top: 1px solid var(--line);
	border-bottom: 1px solid var(--line);
	pointer-events: none;
	margin-left: 0;
}

.upper-content {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 5px;
	right: 0;
	left: 0;
	background-color: var(--background);
	margin-bottom: 2px;
}

.lower {
	margin-top: 5px;
	background-color: var(--background);
	overflow: hidden;
	height: -webkit-fill-available;
}

.right {
	background-color: var(--background);
	overflow: hidden;
	height: 700px;
}

.textarea {
	width: 70px;
	box-shadow: 0 0 3px gray;
	border-width: 1px;
	border-radius: 4px;
}

.textarea:focus-visible {
	outline: none;
	box-shadow: 0 0 3px 1px var(--main-color);
}

.title {
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0;
	margin-left: 39px;
	padding-top: 0px;
	width: fit-content;
	font-weight: bold;
}

hr {
	margin-left: -11px;
	margin-right: -11px;
}

.form-item {
	font-weight: bold;
	margin-bottom: 5px;
}

img.tools-bar-icon, img.tools-icon {
	height: 25px;
	width: 25px;
	float: left;
	position: relative;
	left: 10px;
	top: 2px;
}

select {
	box-shadow: 0 0 3px gray;
	border-radius: 4px;
}

.error-msg {
	color: red;
	font-size: x-small;
}

.checktext {
	font-size: small;
	opacity: 0.7;
}

.checkbox {
	width: 10px;
	height: 10px;
}

.child-item {
	font-size: 13px;
}

.cover-name {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
	padding-top: 5px;
}

.cover-stand {
	margin: 0;
	padding-left: 10px;
	font-size: 10px;
	padding-bottom: 5px;
}

.cover {
	background-color: var(--darker-background);
	border-left: 3px solid var(--main-color);
	margin-bottom: 1px;
}

.cover:hover {
	background-color: var(--lighter-background);
}

.covers {
	margin-top: -9px;
}

.hold {
	color: var(--main-color);
}

#load-btn {
	background-color: var(--background);
	color: var(--main-color);
	border: 2px solid var(--main-color);
	padding: 5px 125px;
	border-radius: 5px;
	transition-duration: 0.4s;
	cursor: pointer;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#load-btn:hover {
	background-color: var(--main-color);
	color: var(--background);
	border: 2px solid var(--main-color);
	padding: 5px 35px;
}

#menu {
	overflow: hidden;
	position: fixed;
	background-color: white;
	box-shadow: 0 0 5px gray;
	border-radius: 4px;
	width: 50px;
	padding: 5px;
	display: none;
}

#delete {
	padding-left: 5px;
}

#delete:hover {
	background-color: var(--gray);
	border-radius: 4px;
	cursor: default;
}

#load-tool, #coverage-tool {
	cursor: pointer;
}

#map {
	width: inherit;
	height: inherit;
}

canvas {
	width: inherit;
}

#cesium-container {
	height: -webkit-fill-available;
}

.search-box-image, .search-box-terrain {
	padding: 5px;
	width: -webkit-fill-available;
	margin-top: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
}

.search-result-image, .search-result-terrain {
	border: 1px solid;
	overflow: scroll;
	height: 100px;
}

.search-result {
	border: var(--line) 1px solid;
	padding: 2px;
}

.selected-result-image, .selected-result-terrain {

}